
~$Datasets.xlsx
*.pyc
*.pdf
experiment_figures/process_models/fig_input_delta_0.01_Sepsis Cases - Event Log_AggregateType.MAX_0.svg
*.pdf
*.svg
/data/BPIC12.xes
/data/BPIC13.xes
/data/BPIC14.csv
/data/BPIC15_1.xes
/data/BPIC17.xes
/data/BPIC18.xes
/data/BPIC19.xes
/data/BPIC20.xes
/data/CCC19.xes
/data/CreditRequirement.xes
/data/Hospital_log.xes
/data/Road_Traffic_Fine_Management_Process.xes
/data/Sepsis Cases - Event Log.xes
/data/Unrineweginfectie.csv
/jobs/job_Sepsis_0.1.sh
*.xes
*.sh
temp.py
experiment_logs/result_log_SMAPE_BPIC14_0.1_nonpruning_AggregateType.FREQ_delta_0.csv
temp.py
experiment_logs/result_log_SMAPE_CCC19_0.1_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_SMAPE_CCC19_0.01_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_SMAPE_BPIC14_0.1_nonpruning_AggregateType.AVG_delta_0.csv
experiment_logs/result_log_epsilon_BPIC14_0.1_nonpruning_AggregateType.AVG_delta_0.csv
experiment_logs/result_log_delta_CCC19_0.1_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_delta_CCC19_0.01_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_delta_BPIC14_0.1_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_delta_BPIC14_0.1_nonpruning_AggregateType.AVG_delta_0.csv
experiment_logs/result_log_APE_CCC19_0.1_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_APE_CCC19_0.01_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_APE_BPIC14_0.1_nonpruning_AggregateType.FREQ_delta_0.csv
experiment_logs/result_log_APE_BPIC14_0.1_nonpruning_AggregateType.AVG_delta_0.csv
experiment_logs/combined_result_log_SMAPE_delta.csv
experiment_logs/combined_result_log_epsilon_delta.csv
experiment_logs/combined_result_log_delta.csv
experiment_logs/combined_result_log_APE_delta.csv
experiment_logs/combined_result_log_alpha.csv
experiment_logs/combined_epsilon_logger_alpha.csv
experiment_logs/combined_delta_per_event_logger_alpha.csv
experiment_logs/combined_delta_logger_alpha.csv
experiment_logs/combined_result_log_delta_delta.csv
experiment_logs/result_log_SMAPE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_4.csv
experiment_logs/result_log_SMAPE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_3.csv
experiment_logs/result_log_SMAPE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_2.csv
experiment_logs/result_log_SMAPE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_1.csv
experiment_logs/result_log_SMAPE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_SMAPE_Sepsis_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_SMAPE_CreditReq_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_epsilon_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_4.csv
experiment_logs/result_log_epsilon_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_3.csv
experiment_logs/result_log_epsilon_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_2.csv
experiment_logs/result_log_epsilon_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_1.csv
experiment_logs/result_log_epsilon_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_epsilon_Sepsis_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_epsilon_CreditReq_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_delta_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_4.csv
experiment_logs/result_log_delta_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_3.csv
experiment_logs/result_log_delta_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_2.csv
experiment_logs/result_log_delta_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_1.csv
experiment_logs/result_log_delta_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_delta_Sepsis_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_delta_CreditReq_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_APE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_4.csv
experiment_logs/result_log_APE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_3.csv
experiment_logs/result_log_APE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_2.csv
experiment_logs/result_log_APE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_1.csv
experiment_logs/result_log_APE_Unrineweginfectie_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_APE_Sepsis_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_APE_CreditReq_0.01_nonpruning_AggregateType.MAX_delta_0.csv
experiment_logs/result_log_alpha_CreditReq_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/result_log_alpha_CreditReq_0.01_nonpruning_AggregateType.FREQ_alpha.csv
experiment_logs/result_log_alpha_CCC19_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/result_log_alpha_BPIC17_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/result_log_alpha_BPIC12_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/epsilon_logger_CreditReq_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/epsilon_logger_CreditReq_0.01_nonpruning_AggregateType.FREQ_alpha.csv
experiment_logs/epsilon_logger_CCC19_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/epsilon_logger_BPIC17_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/epsilon_logger_BPIC12_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_per_event_logger_CreditReq_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_per_event_logger_CCC19_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_per_event_logger_BPIC17_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_per_event_logger_BPIC12_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_logger_CreditReq_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_logger_CreditReq_0.01_nonpruning_AggregateType.FREQ_alpha.csv
experiment_logs/delta_logger_CCC19_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_logger_BPIC17_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_logger_BPIC12_0.01_nonpruning_AggregateType.MAX_alpha.csv
test_parallel.py
experiment_logs/delta_logger_Sepsis_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/delta_per_event_logger_Sepsis_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/epsilon_logger_Sepsis_0.01_nonpruning_AggregateType.MAX_alpha.csv
experiment_logs/result_log_alpha_Sepsis_0.01_nonpruning_AggregateType.MAX_alpha.csv

*.csv
